<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <em class="navbar-brand">PelisApp</em>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['busqueda','']">Buscar</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" [(ngModel)]="texto" name="texto" (keyup.enter)="buscar()">
      <button class="btn btn-outline-success my-2 my-sm-0"
              type="button" 
              (click)="buscar()">Buscar</button>
    </form>
  </div>
</nav>

